<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/5811553c-0aa3-4d7d-a8ca-5afb5a45b6d7/v3/index.json" />
  </packageSources>
</configuration>